.controls {
  display: flex;
  margin-top: -45px;
  margin-left: 244px;

  @media (max-width: 1023px) {
    margin-top: -29px;
    margin-left: 150px;
  }
}

.controls__left-btn {
  width: 45px;
  height: 30px;
  border: 1px solid $purple-dark;
  box-sizing: border-box;
  padding-left: 16px;
  padding-top: 6px;
  margin-right: 19px;
  cursor: pointer;

  @media (max-width: 1023px) {
    width: 29px;
    height: 19px;
    padding-left: 10px;
    padding-top: 1px;
    margin-right: 11px;
  }

  @media (max-width: 767px) {
    width: 16px;
    height: 31px;
    position: absolute;
    top: 77px;
    left: 15px;
    padding-left: 5px;
    padding-top: 7px;
  }
}

.controls__right-btn {
  width: 45px;
  height: 30px;
  background-color: $purple-dark;
  box-sizing: border-box;
  padding-left: 20px;
  padding-top: 5px;
  cursor: pointer;

  @media (max-width: 1023px) {
    width: 29px;
    height: 19px;
    padding-left: 12px;
    padding-top: 0;
  }

  @media (max-width: 767px) {
    width: 16px;
    height: 31px;
    position: absolute;
    top: 77px;
    right: 15px;
    padding-left: 7px;
    padding-top: 6px;
  }
}

.controls__icon {
  @media (max-width: 1023px) {
    width: 7px;
  }

  @media (max-width: 767px) {
    width: 4px;
  }
}

.controls__pages {
  font-size: 13px;
  line-height: 20px;
  margin: 0;
  margin-top: 4px;
  color: $purple-dark;
  margin-right: 9px;
  width: 40px;

  @media (max-width: 1023px) {
    margin-top: 0px;
    font-size: 10px;
    margin-right: 4px;
  }
}

.controls__active-page {
  font-size: 16px;

  @media (max-width: 1023px) {
    font-size: 12px;
  }
}
