.courses {
  min-height: 100vh;
  background-image: url("/img/yoga_pattern_screen_2@1x.png");
  background-repeat: no-repeat;
  background-size: 1257px auto;
  background-position: -12px -62px;

  @media (max-width: 1023px) {
    background-size: 693px auto;
    background-position: 5px -20px;
  }
}

.courses__heading {
  font-family: "Geometria Bold", "Arial", sans-serif;
  color: $purple-dark;
  font-size: 30px;
  line-height: 15px;
  text-align: center;
  padding-bottom: 42px;

  @media (max-width: 1023px) {
    font-size: 21px;
    margin-left: 10px;
    padding-bottom: 22px;
  }

  @media (max-width: 767px) {
    font-size: 18px;
    margin-left: 0;
    padding-bottom: 23px;
  }
}

.courses__number {
  top: 1065px;
  right: 100px;

  @media (max-width: 1023px) {
    top: 616px;
    right: 27px;
  }
}

.courses__wrapper {
  display: flex;
  justify-content: space-between;
  margin-left: 120px;
  margin-right: 155px;

  @media (max-width: 1023px) {
    margin-left: 78px;
    margin-right: 67px;
  }

  @media (max-width: 767px) {
    display: block;
    margin-left: 35px;
    margin-right: 35px;
  }
}

.courses__link {
  color: $purple-dark;
  text-decoration: none;

  &:hover {
    box-shadow: 0px 4px 25px rgba(142, 128, 169, 1);
  }
}

.courses__column .courses__link {
  margin-bottom: 28px;
  display: block;

  @media (max-width: 1023px) {
    margin-bottom: 20px;
  }

  &--more {
    background-color: $white;
    box-shadow: 0px 4px 25px rgba(142, 128, 169, 0.2);
    width: 521px;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    padding-top: 14px;
    padding-bottom: 14px;
    margin-top: 56px;
    margin-bottom: 0px;

    &:hover {
      box-shadow: 0px 4px 25px rgba(142, 128, 169, 1);
    }

    @media (max-width: 1023px) {
      width: 351px;
      padding-top: 7px;
      padding-bottom: 5px;
      margin-top: 39px;
      font-size: 10px;
      box-sizing: border-box;
      padding-right: 7px;
    }

    @media (max-width: 767px) {
      display: none;
    }
  }
}
