.course-info {
  display: flex;
  flex-grow: 1;

  background-color: $white;
  box-shadow: 0 4px 25px rgba(142, 128, 169, 0.2);
  position: relative;

  @media (max-width: $tablet-breakpoint) {

  }

  @media (max-width: $mobile-breakpoint) {

  }
}

.course-info--column {
  display: block;
}

.courses__column .course-info {
  padding-top: 32px;
  padding-right: 6.7%;
  padding-left: 6.7%;
  padding-bottom: 34px;

  @media (max-width: $tablet-breakpoint) {
    min-width: 204px;
    width: 90%;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
  }

  @media (max-width: $mobile-breakpoint) {
    width: 100%;
    padding: 0;
  }
}

.course-info__wrapper {
  margin-right: auto;
  padding-left: 46px;
  padding-top: 41px;
  padding-bottom: 27px;
  padding-right: 30px;
  width: 85%;

  @media (max-width: $tablet-breakpoint) {
    display: flex;
    flex-direction: column;
    padding-left: 23px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-right: 30px;
  }

  @media (max-width: $mobile-breakpoint) {
    padding-left: 20px;
    padding-top: 16px;
    padding-bottom: 14px;
    padding-right: 20px;
  }
}

.courses__column .course-info__wrapper {
  padding: 0;
  width: 100%;

  @media (max-width: $tablet-breakpoint) {
    display: flex;
    flex-direction: column;
    margin-right: auto;
  }

  @media (max-width: $mobile-breakpoint) {
    padding-left: 20px;
    padding-top: 16px;
    padding-bottom: 13px;
    padding-right: 20px;
  }
}

.course-info__bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.course-info__heading {
  font-size: 16px;
  line-height: 16px;
  margin: 0;
  margin-bottom: 13px;

  @media (max-width: $tablet-breakpoint) {
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 5px;
  }
}

.course-info__button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $purple-dark;
  width: 64px;

  svg {
    stroke: $white;
  }

  @media (max-width: $tablet-breakpoint) {
    width: 43px;
  }

  @media (max-width: $mobile-breakpoint) {
  }
}

.courses__column .course-info__button {
  width: 45px;
  height: 30px;

  svg {
    height: 13px;
  }

  @media (max-width: 1200px) {
    margin-left: -40px;
  }

  @media (max-width: $tablet-breakpoint) {
    width: 30px;
    height: 20px;
    margin-left: -40px;
    margin-bottom: 10px;
    margin-right: 3px;
  }

  @media (max-width: $mobile-breakpoint) {
    width: 43px;
    height: auto;
    margin: 0;
  }
}

.course-info__icon {
  @media (max-width: $tablet-breakpoint) {
    width: 7px;
  }
}
