.courses {
  position: relative;
  z-index: 1;
  margin-top: -72px;
  margin-bottom: 23px;
  padding-bottom: 80px;
  background-image: url("../img/yoga_pattern_screen_2@1x.png");
  background-repeat: no-repeat;
  background-size: 1257px auto;
  background-position: 59% -62px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/yoga_pattern_screen_2@2x.png");
  }

  @media (max-width: $tablet-breakpoint) {
    background-size: 693px auto;
    background-position: 5px -20px;
  }

  @media (max-width: $mobile-breakpoint) {
    background-image: url("../img/yoga_pattern_screen_2_mobile@1x.png");
    background-size: 216px auto;
    background-position: 0 145px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/yoga_pattern_screen_2_mobile@2x.png");
    }
  }
}

.courses__heading {
  font-family: $main-bold-font;
  color: $purple-dark;
  font-size: 30px;
  line-height: 15px;
  text-align: center;
  padding-bottom: 42px;
  margin: 0;
  margin-bottom: 24px;

  @media (max-width: $tablet-breakpoint) {
    font-size: 21px;
    margin-left: 10px;
    padding-bottom: 22px;
  }

  @media (max-width: $mobile-breakpoint) {
    font-size: 18px;
    margin-left: 0;
    padding-bottom: 23px;
  }
}

.courses__number {
  top: 42.5%;
  padding-right: 60px;

  @media (max-width: $tablet-breakpoint) {
    top: 616px;
    right: 27px;
  }
}

.courses__wrapper {
  display: flex;
  justify-content: space-between;
  margin-left: 120px;
  margin-right: 155px;

  @media (max-width: $tablet-breakpoint) {
    margin-left: 78px;
    margin-right: 67px;
  }

  @media (max-width: $mobile-breakpoint) {
    display: block;
    margin-left: 35px;
    margin-right: 35px;
  }
}

.courses__link {
  color: $purple-dark;
  text-decoration: none;
  display: block;

  &:hover {
    box-shadow: 0 4px 25px rgba(142, 128, 169, 1);
  }

  @media (max-width: $mobile-breakpoint) {
    margin-bottom: 28px;
  }
}

.courses__column .courses__link {
  margin-bottom: 28px;
  display: block;

  @media (max-width: $tablet-breakpoint) {
    margin-bottom: 20px;
  }

  @media (max-width: $mobile-breakpoint) {
    margin-bottom: 28px;
  }

  &--more {
    background-color: $white;
    box-shadow: 0 4px 25px rgba(142, 128, 169, 0.2);
    width: 521px;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    padding-top: 14px;
    padding-bottom: 14px;
    margin-top: 56px;
    margin-bottom: 0;

    &:hover {
      box-shadow: 0 4px 25px rgba(142, 128, 169, 1);
    }

    @media (max-width: $tablet-breakpoint) {
      width: 351px;
      padding-top: 7px;
      padding-bottom: 5px;
      margin-top: 39px;
      font-size: 10px;
      box-sizing: border-box;
      padding-right: 7px;
    }

    @media (max-width: $mobile-breakpoint) {
      display: none;
    }
  }
}
