.courses {
  position: relative;
  z-index: 1;
  margin-top: -80px;
  margin-bottom: 23px;
  padding-bottom: 80px;
  background-image: url("../img/yoga_pattern_screen_2@1x.png");
  background-repeat: no-repeat;
  background-size: 1257px auto;
  background-position: 59% -56px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/yoga_pattern_screen_2@2x.png");
  }

  @media (max-width: $tablet-breakpoint) {
    margin-top: -35px;

    background-size: 693px auto;
    background-position: 5px -20px;
  }

  @media (max-width: $mobile-breakpoint) {
    margin-top: -42px;

    background-image: url("../img/yoga_pattern_screen_2_mobile@1x.png");
    background-size: 216px auto;
    background-position: 0 145px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/yoga_pattern_screen_2_mobile@2x.png");
    }
  }
}

.courses__heading {
  font-family: $main-bold-font;
  color: $purple-dark;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  margin: 0;
  margin-bottom: 58px;
  padding-left: 30px;
  padding-right: 30px;

  @media (max-width: $tablet-breakpoint) {
    font-size: 21px;
    line-height: 21px;

    margin-bottom: 37px;
  }

  @media (max-width: $mobile-breakpoint) {
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 36px;
  }
}

.courses__number {
  top: 36.9%;
  padding-right: 60px;

  @media (max-width: $tablet-breakpoint) {
    padding-right: 30px;
  }
}

.courses__wrapper {
  display: flex;
  align-items: stretch;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-right: 35px;

  @media (max-width: $tablet-breakpoint) {
    width: 82%;
    padding-right: 0;
    padding-left: 8px;
  }

  @media (max-width: $mobile-breakpoint) {
    display: block;
    width: 100%;
    padding-left: 35px;
    padding-right: 35px;
  }
}

.courses__column {
  display: flex;
  flex-direction: column;
  width: 56.8%;

  @media (max-width: $tablet-breakpoint) {
    width: 56.5%;
  }

  @media (max-width: $mobile-breakpoint) {
    width: 100%;
  }
}

.courses__link {
  color: $purple-dark;
  text-decoration: none;
  display: block;
  line-height: 0;

  @media (max-width: $mobile-breakpoint) {
    margin-bottom: 30px;
  }
}

.courses__column .courses__link {
  width: 100%;
  margin-bottom: 28px;
  display: block;
  line-height: 0;

  @media (max-width: $tablet-breakpoint) {
    margin-bottom: 20px;
  }

  @media (max-width: $mobile-breakpoint) {
    margin-bottom: 30px;
  }

  &--more {
    background-color: $white;
    box-shadow: 0 4px 25px rgba(142, 128, 169, 0.2);
    width: 100%;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 0;
    margin-top: auto;

    @media (max-width: $tablet-breakpoint) {
      padding-top: 6px;
      padding-bottom: 6px;
      font-size: 10px;
    }

    @media (max-width: $mobile-breakpoint) {
      display: none;
    }
  }
}
