.course-card__image {
  width: 366px;
  display: block;

  @media (max-width: 1023px) {
    width: 246.5px;
  }
}

.courses__column .course-card__image {
  width: 220px;

  @media (max-width: 1023px) {
    width: 148px;
    height: 121px;
  }
}

.courses__column .course-card__container {
  display: flex;
}
