.course-card__image {
  width: 366px;
  display: block;

  @media (max-width: $tablet-breakpoint) {
    width: 246.5px;
  }

  @media (max-width: $mobile-breakpoint) {
    width: 250px;
    height: 200px;
  }
}

.courses__column .course-card__image {
  width: 220px;

  @media (max-width: $tablet-breakpoint) {
    width: 148px;
    height: 121px;
  }

  @media (max-width: $mobile-breakpoint) {
    width: 250px;
    height: 100%;
  }
}

.course-card__image--column {
  @media (max-width: $mobile-breakpoint) {
    width: 250px;
  }
}

.courses__column .course-card__container {
  display: flex;

  @media (max-width: $mobile-breakpoint) {
    display: block;
  }
}
