.description {
  width: 500px;
  padding-top: 10px;

  @media (max-width: 1023px) {
    width: 350px;
  }

  @media (max-width: 767px) {
    width: 230px;
    padding-top: 0;
  }
}

.description__name {
  font-size: 18px;
  line-height: 20px;
  color: $purple-dark;
  margin: 0;
  margin-bottom: 10px;

  @media (max-width: 1023px) {
    font-size: 16px;
    margin-bottom: 0;
  }

  @media (max-width: 767px) {
    display: none;
  }
}

.description__experience {
  font-size: 14px;
  line-height: 20px;
  color: $pink;
  margin: 0;
  margin-bottom: 24px;

  @media (max-width: 1023px) {
    font-size: 12px;
    margin-bottom: 9px;
  }

  @media (max-width: 767px) {
    font-size: 10px;
  }
}

.description__info {
  font-size: 12px;
  line-height: 20px;
  color: $purple-dark;

  @media (max-width: 1023px) {
    font-size: 10px;
    line-height: 15px;
  }

  & span {
    @media (max-width: 767px) {
      display: none;
    }
  }

  & p {
    margin: 0;
    margin-bottom: 20px;

    @media (max-width: 1023px) {
      padding-right: 45px;
      margin-bottom: 17px;
    }

    @media (max-width: 767px) {
      padding-right: 0;
      margin-bottom: 9px;
    }

    &:nth-child(2) {
      padding-right: 45px;

      @media (max-width: 767px) {
        padding-right: 0;
      }
    }

    &:nth-child(3) {
      padding-right: 130px;

      @media (max-width: 1023px) {
        padding-right: 40px;
      }

      @media (max-width: 767px) {
        padding-right: 0;
      }
    }

    &:nth-child(4) {
      padding-right: 170px;

      @media (max-width: 1023px) {
        padding-right: 60px;
      }

      @media (max-width: 767px) {
        padding-right: 0;
      }
    }
  }
}
