.footer {
  background-image: url("/img/yoga_footer@1.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -195px;

  @media (max-width: 1023px) {
    background-image: url("/img/yoga_footer_tablet@1x.png");
    margin-top: 189px;
    background-size: 768px auto;
  }

  @media (max-width: 768px) {
    background-image: url("/img/yoga_footer_mobile@1x.png");
    margin-top: 69px;
    background-size: contain;
  }
}
