.footer-social {
  display: flex;
  width: 100px;
  align-items: flex-start;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: -5px;
  margin-top: -3px;

  @media (max-width: $mobile-breakpoint) {
    width: 100%;
    margin-top: 0;
  }
}

.footer-social__item {
  display: flex;
  align-items: center;
  width: 20px;
  height: 20px;
  line-height: 0;

  @media (max-width: $tablet-breakpoint) {
    margin-right: 5px;
  }

  @media (max-width: $mobile-breakpoint) {
    width: 35px;
    height: 30px;
  }
}

.footer-social__item--vk {
  @media (max-width: $tablet-breakpoint) {
    margin-right: 7px;
  }
}

.footer-social__link {
  padding: 3px;
  display: block;
  box-sizing: content-box;
  margin-right: 7px;

  &:hover .icon {
    fill-opacity: 0.65;
  }

  @media (max-width: $mobile-breakpoint) {
    padding: 0;
    margin-right: 18px;
  }
}

.footer-social__link--vk {
  width: 13px;
  height: 8px;
  margin-top: -2px;
  margin-right: 5px;

  @media (max-width: $mobile-breakpoint) {
    width: 25px;
    height: 15px;
    margin-right: 19px;
  }
}

.footer-social__link--tw {
  width: 16px;
  height: 11px;

  @media (max-width: $mobile-breakpoint) {
    width: 29px;
    height: 20px;
  }
}

.footer-social__link--fb {
  width: 6px;
  height: 11px;

  @media (max-width: $mobile-breakpoint) {
    width: 13px;
    height: 31px;
  }
}

.footer-social__icon {
  fill-opacity: 1;

  @media (max-width: $tablet-breakpoint) {
    fill: $white;
  }
}

.footer-social__icon--tw {
  @media (max-width: $mobile-breakpoint) {
    width: 29px;
    height: 20px;
    padding-top: 0;
    margin-top: -1px;
  }
}

.footer-social__icon--vk {
  @media (max-width: $mobile-breakpoint) {
    width: 25px;
    height: 15px;
  }
}

.footer-social__icon--fb {
  @media (max-width: $mobile-breakpoint) {
    width: 12px;
    height: 32px;
  }
}
