.footer-bottom {
  background-color: $purple-footer;
}

.footer-bottom__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 12px;
  line-height: 20px;
  color: $white-opacity;
  padding-top: 19px;
  margin-left: 154px;
  margin-right: 122px;
  padding-bottom: 7px;

  @media (max-width: 1023px) {
    justify-content: flex-start;
    padding-top: 1px;
    margin-left: 75px;
    padding-bottom: 65px;
  }

  @media (max-width: 1023px) {
    flex-wrap: wrap;
    margin-left: 35px;
    margin-right: 40px;
  }
}

.footer-bottom__site {
    @media (max-width: 1023px) {
      order: 2;
      margin-left: 40px;
    }

    @media (max-width: 767px) {
      margin-left: 0;
      margin-top: 0;
    }
}

.footer-bottom__info {
  display: none;

  @media (max-width: 1023px) {
    display: flex;
    color: $white;

    & .footer-social__icon path {
      fill: $white;
      fill-opacity: 1;
    }
  }
}
