.footer-info {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  line-height: 20px;
  color: $purple-dark;
  width: 340px;
  padding-top: 119px;
  margin-right: 173px;
}

.footer-info__address {
  margin-right: 60px;
  margin-bottom: 19px;

  & p:first-child {
    margin-bottom: 0;
  }

  & p:last-child {
    margin: 0;
    font-size: 12px;
  }
}

.footer-info__phone {
  & p:first-child {
    margin-bottom: 0;
  }

  & p:last-child {
    margin: 0;
  }
}

.footer-info__working-hours {
  margin-right: 80px;
  margin-bottom: 30px;

  & p:first-child {
    margin-bottom: 0;
  }

  & p:last-child {
    margin: 0;
    font-size: 12px;
  }
}

.footer-info__email {
  & p:first-child {
    margin-bottom: 0;
  }

  & p:last-child {
    margin: 0;
    font-size: 12px;
  }
}
