.footer-top__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-left: auto;
  padding-top: 38px;
  padding-bottom: 69px;

  margin-right: auto;
  width: 100%;
  max-width: 961px;


  @media (max-width: $tablet-breakpoint) {
    max-width: 415px;
  }

  @media (max-width: $mobile-breakpoint) {
    padding-top: 42px;
    margin-left: 35px;
  }
}

.footer-top__info {
  @media (max-width: $tablet-breakpoint) {
    display: none;
  }
}
