.footer-info {
  font-size: 14px;
  line-height: 20px;
  color: $purple-dark;
  width: 400px;
  padding-top: 133px;
  margin-right: 108px;

  @media (max-width: $tablet-breakpoint) {
    margin-right: 0;
    padding-top: 61px;
    margin-left: 78px;
  }

  @media (max-width: $mobile-breakpoint) {
    padding-top: 30px;
    margin-left: 35px;
    width: 200px;
  }
}

.footer-info__columns {
  column-count: 2;
  column-width: 160px;
  column-gap: 20px;
}

.footer-info__title {
  margin: 0;
}

.footer-info__text {
  font-size: 12px;
  margin: 0;
  margin-bottom: 33px;

  &--link {
    color: inherit;
    text-decoration: none;
    display: block;
  }
}

.footer-info__phone .footer-info__text {
  font-size: 14px;
}

.footer-info__social {
  @media (max-width: $mobile-breakpoint) {
    margin-bottom: 15px;
  }
}
