.footer {
  background-image: url("../img/yoga_footer@1.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 128px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/yoga_footer@2x.png");
  }

  @media (max-width: $tablet-breakpoint) {
    background-image: url("../img/yoga_footer_tablet@1x.png");
    margin-top: 125px;
    background-size: 100% 475px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/yoga_footer_tablet@2x.png");
    }
  }

  @media (max-width: $mobile-breakpoint) {
    background-image: url("../img/yoga_footer_mobile@1x.png");
    margin-top: 69px;
    background-size: 100% 391px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/yoga_footer_mobile@2x.png");
    }
  }
}
