.footer-top__container {
  display: flex;
  align-items: flex-start;
  margin-left: 155px;
  padding-top: 38px;
  padding-bottom: 69px;

  @media (max-width: 1023px) {
    margin-left: 182px;
  }

  @media (max-width: 767px) {
    padding-top: 42px;
    margin-left: 35px;
  }
}

.footer-top__info {
  @media (max-width: 1023px) {
    display: none;
  }
}
