.footer-social {
  display: flex;
  width: 57px;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-social__link {
  display: block;
}

.footer-social__icon--tw {
  padding-top: 3px;
}
