.footer-info {
  font-size: 14px;
  line-height: 20px;
  color: $purple-dark;
  width: 400px;
  padding-top: 133px;
  margin-left: 35px;

  @media (max-width: $tablet-breakpoint) {
    margin-right: 0;
    padding-top: 76px;
    margin-left: 77px;
    color: $white;
  }

  @media (max-width: $mobile-breakpoint) {
    padding-top: 45px;
    margin-left: 35px;
    width: auto;
  }
}

.footer-info__columns {
  column-count: 2;
  column-width: 160px;
  column-gap: 20px;

  @media (max-width: $mobile-breakpoint) {
    column-count: 1;
  }
}

.footer-info__title {
  margin: 0;
}

.footer-info__text {
  font-size: 12px;
  margin: 0;
  margin-bottom: 33px;

  &--link {
    color: inherit;
    text-decoration: none;
    display: block;

    &:hover {
      text-decoration: underline;
    }
  }

  @media (max-width: $mobile-breakpoint) {
    margin-bottom: 17px;
  }
}

.footer-info__phone .footer-info__text {
  font-size: 14px;
}

.footer-info__social {
  @media (max-width: $mobile-breakpoint) {
    margin-bottom: 15px;
  }
}
