.form {
  width: 415px;

  @media (max-width: $tablet-breakpoint) {
    order: -1;
    margin: 0 auto;
    margin-bottom: 70px;
  }

  @media (max-width: $mobile-breakpoint) {
    max-width: 415px;
    width: 100%;
    padding-left: 35px;
    padding-right: 11px;
  }
}

.form__header {
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
  color: $purple-dark;
  width: 411px;
  margin-bottom: 43px;
  margin-left: 4px;

  @media (max-width: $mobile-breakpoint) {
    width: auto;
    font-size: 20px;
    line-height: 27px;
    min-width: 274px;
    margin-bottom: 26px;
    margin-left: 0;
  }
}

.form__input label {
  font-size: 0;
}

.form__input input {
  width: 407px;
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  background-color: transparent;
  border: none;
  border-radius: 0;
  font-family: $main-font;
  color: $purple-dark;
  border-bottom: 1px solid $purple-dark;
  padding-bottom: 6px;
  margin-bottom: 45px;

  outline: none;

  &::placeholder {
    color: $purple-light;
  }

  &:focus {
    outline: 1px solid $purple-light;
  }

  @media (max-width: $mobile-breakpoint) {
    width: 90%;
    padding-bottom: 9px;
    margin-bottom: 27px;
  }
}

.form__btn {
  width: 407px;
  font-family: $main-font;
  color: $white;
  box-sizing: border-box;
  border: none;
  border-radius: 0;
  background-color: $pink;
  margin-top: 13px;
  padding-top: 17px;
  padding-bottom: 18px;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
  margin-left: 3px;

  outline: none;

  &:focus,
  &:hover {
    background-color: $pink-light;
  }

  @media (max-width: $mobile-breakpoint) {
    width: 90%;
    margin-top: 6px;
    padding-top: 19px;
    padding-left: 35px;
    padding-right: 35px;
  }
}
