.header {
  position: relative;
  margin: 0;

  color: $purple-header;

  background-image: url("../img/yoga_header@1x.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/yoga_header@2x.png");
  }

  @media (max-width: $tablet-breakpoint) {
    min-height: 430px;
    padding-bottom: 3px;
  }

  @media (max-width: $mobile-breakpoint) {
    background-image: url("../img/yoga_header_mobile@1x.png");
    min-height: 260px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/yoga_header_mobile@2x.png");
    }
  }
}

.header-container {
  padding-top: 63px;
  padding-bottom: 200px;
}

.header__top {
  margin-bottom: 110px;

  @media (max-width: $tablet-breakpoint) {
    padding-top: 34px;
    margin-bottom: 46px;
  }

  @media (max-width: $mobile-breakpoint) {
    padding-top: 17px;
    margin-bottom: 58px;
  }
}

.header__number {
  top: 40.5%;

  @media (max-width: $tablet-breakpoint) {
    top: 191px;
    right: 32px;
  }
}
