.header {
  position: relative;
  margin: 0;

  color: $purple-header;

  background-image: url("../img/yoga_header@1x.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/yoga_header@2x.png");
  }

  @media (max-width: $tablet-breakpoint) {

  }

  @media (max-width: $mobile-breakpoint) {
    background-image: url("../img/yoga_header_mobile@1x.png");
    min-height: 260px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/yoga_header_mobile@2x.png");
    }
  }
}

.header-container {
  padding-top: 64px;
  padding-bottom: 200px;

  @media (max-width: $tablet-breakpoint) {
    padding-top: 37px;
    padding-bottom: 110px;
  }

  @media (max-width: $mobile-breakpoint) {
    padding-top: 15px;
    padding-bottom: 60px;
  }
}

.header__top {
  margin-bottom: 94px;

  @media (max-width: $tablet-breakpoint) {
    margin-bottom: 42px;
  }

  @media (max-width: $mobile-breakpoint) {
    margin-bottom: 61px;
  }
}

.header__number {
  top: 39.8%;

  @media (max-width: $tablet-breakpoint) {
    top: 39.5%;
  }
}
