.header {
  background-image: url('/img/yoga_header@1x.png');
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 0;
  height: 100vh;
  color: $purple-header;
}

.header__top {
  padding-top: 35px;
  margin-bottom: 45px;
}

.header__number {
  top: 364px;

  @media (max-width: 1023px) {
    top: 191px;
    right: 32px;
  }
}
