.header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.header-bottom__social {
  margin: 0;
}

.header-bottom__address {
  margin: 0;

  @media (max-width: $tablet-breakpoint) {
    font-size: 12px;
    padding-right: 2px;
  }

  @media (max-width: $mobile-breakpoint) {
    display: none;
  }
}
