.header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.header-bottom__social {
  margin: 0;
  margin-left: -5px;
}

.header-bottom__address {
  font-size: 16px;
  line-height: 16px;
  margin: 0;
  margin-top: 9px;

  @media (max-width: $tablet-breakpoint) {
    font-size: 12px;
    padding-right: 2px;
  }

  @media (max-width: $mobile-breakpoint) {
    display: none;
  }
}
