.length {
  color: $pink;
  display: flex;
  justify-content: space-between;
  width: 286px;
  margin: 0 auto;

  @media (max-width: $tablet-breakpoint) {
    width: 239px;
    margin-left: 269px;
  }

  @media (max-width: $mobile-breakpoint) {
    width: 222px;
    margin: 0 auto;
  }
}

.length__item {
  cursor: pointer;
  font-size: 12px;
  line-height: 20px;

  &--active {
    border-bottom: 1px solid $pink;
  }

  @media (max-width: $tablet-breakpoint) {
    font-size: 12px;
  }
}
