.link {
  color: $pink;
  width: 300px;
  display: flex;
  align-items: center;
  cursor: pointer;

  @media (max-width: 1023px) {
    width: 200px;
  }
}

.link__button {
  background-color: $pink;
  margin-right: 13px;
  padding-top: 13px;
  padding-bottom: 10px;
  padding-left: 26px;
  padding-right: 20px;

  @media (max-width: 1023px) {
    margin-right: 9px;
    padding-top: 3px;
    padding-bottom: 0;
    padding-left: 12px;
    padding-right: 10px;
  }
}

.link__icon {
  @media (max-width: 1023px) {
    width: 7px;
  }
}

.link__info {
  text-align: left;
  font-size: 14px;
  line-height: 20px;
  margin: 0;

  @media (max-width: 1023px) {
    font-size: 10px;
    line-height: 12px;
  }
}
