.number {
  font-family: $main-bold-font;
  text-align: right;
  color: $numbers-color;
  font-size: 30px;
  line-height: 15px;
  position: absolute;
  right: 0;
  padding-right: 67px;

  &::after {
    content: "";
    position: absolute;
    left: 44px;
    top: 6px;
    width: 63px;
    height: 2px;
    background-color: rgba($number-line-color, 0.5);
  }

  @media (max-width: $tablet-breakpoint) {
    font-size: 18px;

    &::after {
      width: 19px;
      left: 33px;
    }
  }

  @media (max-width: $mobile-breakpoint) {
    display: none;
  }
}
