.options  {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 931px;
  margin: 0 auto;

  @media (max-width: 1023px) {
    width: 623px;
    margin-left: 78px;
  }
}

.options__item {
  background-color: $white;
  box-shadow: 0px 4px 25px rgba(142, 128, 169, 0.2);
  text-align: center;
  box-sizing: border-box;
  width: 263px;
  padding-top: 39px;
  padding-bottom: 54px;

  &:hover {
    width: 331px;
    padding-bottom: 58px;
    transition: width 0.5s linear;

    & .options__info {
      margin-left: 80px;
      margin-right: 80px;
      margin-bottom: 30px;
    }

    & .options__btn {
      display: block;
      box-sizing: border-box;
      height: 52px;
      margin-top: 37px;
    }
  }

  @media (max-width: 1023px) {
    width: 176px;
    padding-top: 21px;
    padding-bottom: 28px;

    &:hover {
      width: 221px;
      padding-bottom: 38px;

      & .options__info {
        margin-left: 40px;
        margin-right: 40px;
        margin-bottom: 15px;
      }

      & .options__btn {
        margin-top: 18px;
        height: 35px;
      }
    }
  }
}

.options__heading {
  font-size: 18px;
  line-height: 20px;
  color: $purple-dark;

  @media (max-width: 1023px) {
    margin-bottom: 8px;
  }
}

.options__info {
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: $pink;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 27px;

  @media (max-width: 1023px) {
    font-size: 10px;
    line-height: 15px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0;
    margin-bottom: 15px;
  }
}

.options__price {
  font-size: 30px;
  line-height: 20px;
  color: $purple-dark;
  margin: 0;

  @media (max-width: 1023px) {
    font-size: 21px;
  }
}

.options__btn {
  font-family: "Geometria Medium", "Arial", sans-serif;
  color: $white;
  cursor: pointer;
  display: none;
  border: none;
  background-color: $purple-dark;
  text-align: center;
  font-size: 12px;
  line-height: 20px;
  margin: 0 auto;
  width: 223px;
  box-sizing: border-box;
  height: 52px;
  margin-top: 37px;

  @media (max-width: 1023px) {
    width: 149px;
    height: 35px;
    font-size: 10px;
  }
}
