.reviews {
  position: relative;

  @media (max-width: $mobile-breakpoint) {
    min-height: 370px;
  }
}

.reviews__heading {
  font-size: 30px;
  line-height: 15px;
  color: $purple-dark;
  margin-top: 139px;
  margin-bottom: 44px;

  text-align: center;

  @media (max-width: $tablet-breakpoint) {
    font-size: 21px;
    line-height: 15px;
    margin-bottom: 40px;
  }

  @media (max-width: $mobile-breakpoint) {
    font-size: 18px;
    margin-top: 32px;
    margin-left: 125px;
    margin-bottom: 38px;
  }
}

.reviews__number {
  top: 50%;
  right: 0;

  @media (max-width: $tablet-breakpoint) {
    top: 2359px;
    right: 30px;
  }
}
