.review-slider {
  max-width: 905px;
  position: relative;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;

  @media (max-width: $tablet-breakpoint) {
    margin-left: 169px;
  }

  @media (max-width: $mobile-breakpoint) {
    margin-left: 34px;
    width: 320px;
  }
}

.review-slider__items {
  width: auto;
  display: flex;
  align-items: stretch;
  box-sizing: border-box;

  @media (max-width: $tablet-breakpoint) {
    width: 442px;
    flex-wrap: wrap;
  }

  @media (max-width: $mobile-breakpoint) {
    width: 400px;
    height: 290px;
  }
}

.review-slider__pages {
  display: none;

  @media (max-width: $tablet-breakpoint) {
    display: block;
    position: absolute;
    font-size: 10px;
    line-height: 20px;
    color: $purple-dark;
    top: 676px;
    left: 209px;
  }

  @media (max-width: $mobile-breakpoint) {
    position: absolute;
    left: 115px;
    top: 289px;
  }
}

.review-slider__active-page {
  font-size: 12px;
  line-height: 20px;
}

.review-slider__btn-left {
  position: absolute;
  width: 45px;
  height: 30px;
  background-color: $purple-dark;
  left: -15px;
  top: 142px;
  box-sizing: border-box;
  padding-left: 15px;
  padding-top: 8px;
  cursor: pointer;
  border: none;

  @media (max-width: $tablet-breakpoint) {
    width: 29px;
    height: 19px;
    background-color: transparent;
    border: 1px solid $purple-dark;
    top: 686px;
    left: 168px;
    padding-left: 10px;
    padding-top: 2px;

    & .review-slider__icon path {
      stroke: $purple-dark;
    }
  }

  @media (max-width: $mobile-breakpoint) {
    position: absolute;
    top: 300px;
    left: 75px;
    width: 31px;
    height: 16px;
    padding-left: 12px;
    padding-top: 0;
  }
}

.review-slider__btn-right {
  position: absolute;
  width: 45px;
  height: 30px;
  background-color: $purple-dark;
  right: -24px;
  top: 142px;
  padding-left: 16px;
  padding-top: 8px;
  box-sizing: border-box;
  cursor: pointer;
  border: none;

  @media (max-width: $tablet-breakpoint) {
    width: 29px;
    height: 19px;
    top: 686px;
    left: 244px;
    padding-left: 12px;
    padding-top: 3px;
  }

  @media (max-width: $mobile-breakpoint) {
    position: absolute;
    top: 300px;
    left: 148px;
    width: 31px;
    height: 16px;
    padding-left: 14px;
    padding-top: 1px;
  }
}

.review-slider__icon {


  @media (max-width: $tablet-breakpoint) {
    width: 7px;
  }

  @media (max-width: $mobile-breakpoint) {
    width: 5px;
  }
}

.review-slider__pagination {
  display: none;
}

.review-slider__button--prev {
  left: 0;
}

.review-slider__button--next {
  right: 0;
}
