.reviews {
  position: relative;

  @media (max-width: $mobile-breakpoint) {
    min-height: 370px;
  }
}

.reviews__heading {
  font-size: 30px;
  line-height: 15px;
  color: $purple-dark;
  margin-top: 139px;
  margin-bottom: 24px;

  text-align: center;

  @media (max-width: $tablet-breakpoint) {
    font-size: 21px;
    line-height: 15px;
    margin-bottom: 18px;
    margin-top: 136px;
  }

  @media (max-width: $mobile-breakpoint) {
    font-size: 18px;
    margin-top: 56px;
    margin-bottom: 19px;
  }
}

.reviews__number {
  top: 50%;
  right: 0;
}
