.review-slider {
  width: 905px;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 0 auto;

  @media (max-width: 1023px) {
    width: 442px;
    flex-wrap: wrap;
    margin-left: 169px;
  }
}

.review-slider__pages {
  display: none;

  @media (max-width: 1023px) {
    display: block;
    position: absolute;
    font-size: 10px;
    line-height: 20px;
    color: $purple-dark;
    top: 676px;
    left: 209px;
  }
}

.review-slider__active-page {
  font-size: 12px;
  line-height: 20px;
}

.review-slider__btn-left {
  position: absolute;
  width: 45px;
  height: 30px;
  background-color: $purple-dark;
  left: -15px;
  top: 142px;
  box-sizing: border-box;
  padding-left: 15px;
  padding-top: 8px;
  cursor: pointer;

  @media (max-width: 1023px) {
    width: 29px;
    height: 19px;
    background-color: transparent;
    border: 1px solid $purple-dark;
    top: 686px;
    left: 168px;
    padding-left: 10px;
    padding-top: 2px;

    & .review-slider__icon path {
      stroke: $purple-dark;
    }
  }
}

.review-slider__btn-right {
  position: absolute;
  width: 45px;
  height: 30px;
  background-color: $purple-dark;
  right: -24px;
  top: 142px;
  padding-left: 16px;
  padding-top: 8px;
  box-sizing: border-box;
  cursor: pointer;

  @media (max-width: 1023px) {
    width: 29px;
    height: 19px;
    top: 686px;
    left: 244px;
    padding-left: 12px;
    padding-top: 3px;
  }
}

.review-slider__icon {
  @media (max-width: 1023px) {
    width: 7px;
  }
}
