.review {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  background-color: $white;
  width: 442px;
  padding-left: 87px;
  padding-top: 33px;
  padding-bottom: 20px;

  &.swiper-slide-active,
  &.swiper-slide-next {
    box-shadow: 0 4px 25px rgba(142, 128, 169, 0.2);
  }

  @media (max-width: $tablet-breakpoint) {
    width: 100%;
    margin-top: 20px;
    padding-bottom: 23px;
  }

  @media (max-width: $mobile-breakpoint) {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 18px;
    padding-bottom: 26px;
    margin-bottom: 30px;
    margin-left: 20px;
    height: auto;
  }
}

.review__text {
  font-size: 12px;
  line-height: 20px;
  color: $purple-dark;
  margin-top: 15px;
  padding-right: 64px;
  margin-bottom: 2px;
  margin-left: 0;
  margin-right: 0;

  @media (max-width: $tablet-breakpoint) {
    margin-top: 17px;
    padding-right: 61px;
  }

  @media (max-width: $mobile-breakpoint) {
    padding-right: 0;
    font-size: 10px;
    line-height: 15px;
    margin-top: 19px;
    margin-bottom: 6px;
  }

  & p {
    margin: 0;
    margin-bottom: 20px;

    @media (max-width: $mobile-breakpoint) {
      margin-bottom: 17px;
    }
    }
}

.review__icon {
  margin-left: 3px;
}
