.slider__pagination {
  right: 80px;
  left: auto;
  bottom: 5px;

  width: auto;
  font-size: 16px;
  line-height: 20px;
  color: $purple-dark;
  text-align: right;
}

.slider__button {
  top: auto;
  bottom: 0;
  width: 45px;
  height: 30px;
  padding: 0;

  background-color: $purple-dark;
  border: 1px solid $purple-dark;
  cursor: pointer;

  svg {
    stroke: $white;
  }

  &::after {
    display: none;
  }

  &.swiper-button-disabled {
    opacity: 1;
    background-color: transparent;

    svg {
      stroke: $purple-dark;
    }
  }
}

.slider__button--prev {
  right: 150px;
  left: auto;
}
