.slider__pagination {
  width: auto;
  font-size: 16px;
  line-height: 20px;
  color: $purple-dark;

  @media (max-width: $tablet-breakpoint) {
    font-size: 12px;
  }
}

.slider__pagination .swiper-pagination-total {
  font-size: 12px;

  @media (max-width: $tablet-breakpoint) {
    font-size: 10px;
  }
}

.slider__button {
  width: 45px;
  height: 30px;
  padding: 0;

  background-color: $purple-dark;
  border: 1px solid $purple-dark;
  opacity: 1;

  cursor: pointer;

  svg {
    stroke: $white;
  }

  &::after {
    display: none;
  }

  &.swiper-button-disabled {
    opacity: 1;
    background-color: transparent;

    svg {
      stroke: $purple-dark;
    }
  }

  @media (max-width: $tablet-breakpoint) {
    width: 29px;
    height: 19px;

    svg {
      height: 9px;
    }
  }
}
