.social {
  display: flex;
  width: 65px;
  justify-content: space-between;
}

.social__link {
  font-size: 0;
  width: 15px;
  height: 15px;
  display: block;
}

.social__icon {
  &--tw {
    margin-top: -1px;
  }

  &--fb {
    margin-top: -1px;
    margin-left: 3px;
  }
}
