.subscribtion {
  position: relative;
  min-height: 800px;
  padding-top: 57px;
  padding-bottom: 57px;
  text-align: center;
  background-image: url("../img/yoga_clouds@1x.png");
  background-position: center 0;
  background-repeat: repeat;
  background-size: 100% 100%;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/yoga_clouds@2x.png");
  }

  @media (max-width: $tablet-breakpoint) {
    background-position: 0 -100px;
  }

  @media (max-width: $mobile-breakpoint) {
    min-height: 700px;
  }
}

.subscribtion__number {
  top: 33%;

  @media (max-width: $tablet-breakpoint) {
    top: 1111px;
    right: 30px;
  }
}

.subscribtion__heading {
  font-size: 30px;
  line-height: 15px;
  color: $purple-dark;
  margin: 0;
  margin-top: -8px;
  margin-bottom: 54px;

  @media (max-width: $tablet-breakpoint) {
    font-size: 21px;
    margin-top: -213px;
    margin-left: 8px;
    margin-bottom: 7px;
  }

  @media (max-width: $mobile-breakpoint) {
    font-size: 18px;
    margin-top: 65px;
    margin-left: 0;
    margin-bottom: 20px;
  }
}

.subscribtion__length {
  padding-bottom: 50px;

  @media (max-width: $tablet-breakpoint) {
    padding-bottom: 26px;
  }

  @media (max-width: $mobile-breakpoint) {
    padding-bottom: 15px;
  }
}
