.subscribtion {
  position: relative;
  min-height: 700px;
  padding-top: 66px;
  padding-bottom: 57px;
  text-align: center;
  background-image: url("../img/yoga_clouds@1x.png");
  background-position: center 15px;
  background-repeat: no-repeat;
  background-size: 100% 100%;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/yoga_clouds@2x.png");
  }

  @media (max-width: $tablet-breakpoint) {
    min-height: 420px;
    padding-top: 37px;
    background-size: 100% auto;
    background-position: center 22px;

  }

  @media (max-width: $mobile-breakpoint) {
    padding-top: 13px;
    padding-bottom: 20px;

    background-image: url("../img/yoga_clouds_mobile@1x.png");
    background-position: center 90px;
    background-size: 100% 86%;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/yoga_clouds_mobile@2x.png");
    }
  }
}

.subscribtion__wrapper {
  @media (max-width: $mobile-breakpoint) {
    max-width: 555px;
    margin-right: auto;
    margin-left: auto;
  }
}

.subscribtion__number {
  top: 33%;

  @media (max-width: $tablet-breakpoint) {

  }
}

.subscribtion__heading {
  font-size: 30px;
  line-height: 30px;
  color: $purple-dark;
  margin: 0;
  margin-bottom: 46px;

  @media (max-width: $tablet-breakpoint) {
    font-size: 21px;
    line-height: 21px;

    margin-left: 8px;
    margin-bottom: 15px;
  }

  @media (max-width: $mobile-breakpoint) {
    font-size: 18px;
    margin-left: 0;
    margin-bottom: 30px;
  }
}

.subscribtion__length {
  margin: 0 auto;
  margin-bottom: 50px;

  @media (max-width: $tablet-breakpoint) {
    margin-bottom: 39px;
  }

  @media (max-width: $mobile-breakpoint) {
    margin-bottom: 26px;
  }
}
