.subscribtion {
  min-height: 100vh;
  text-align: center;
  background-image: url('../img/yoga_clouds@1x.png');
  background-position: 0px -70px;
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: 767px) {
    min-height: 700px;
  }
}

.subscribtion__number {
  top: 1762px;
  right: 100px;

  @media (max-width: 1023px) {
    top: 1111px;
    right: 30px;
  }
}

.subscribtion__heading {
  font-size: 30px;
  line-height: 15px;
  color: $purple-dark;
  margin: 0;
  margin-top: -8px;
  margin-bottom: 43px;

  @media (max-width: 1023px) {
    font-size: 21px;
    margin-top: -210px;
    margin-left: 8px;
    margin-bottom: 7px;
  }

  @media (max-width: 767px) {
    font-size: 18px;
    margin-top: 65px;
    margin-left: 0px;
    margin-bottom: 20px;
  }
}

.subscribtion__length {
  padding-bottom: 37px;

  @media (max-width: 1023px) {
    padding-bottom: 26px;
  }

  @media (max-width: 767px) {
    padding-bottom: 15px;
  }
}
