.teachers-list {
  width: 400px;
  margin-top: 13px;
  margin-right: 66px;

  @media (max-width: 1023px) {
    margin-right: 17px;
    width: 280px;
  }

  @media (max-width: 767px) {
    margin-right: 0;
    width: 250px;
    height: 100px;
    overflow: hidden;
    padding-top: 14px;
  }
}
