.teacher-card {
  position: relative;
  display: flex;
  width: 100%;
  padding-top: 55px;

  height: calc((100% - 100px) / 3);

  @media (max-width: $tablet-breakpoint) {
    width: 255px;
    padding-top: 10px;
    padding-right: 6px;
    padding-bottom: 3px;

    height: calc((100% - 118px) / 3);
  }

  @media (max-width: $mobile-breakpoint) {
    width: 228px;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;

    height: 100%;
    flex-wrap: wrap;
  }
}

.teacher-card__wrapper {
  display: flex;
  width: 92%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 147px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 17px;

  background-color: $white;
  box-shadow: 0 4px 25px rgba(142, 128, 169, 0.2);

  @media (max-width: $tablet-breakpoint) {
    width: 90%;
    margin-left: 15px;
    padding-left: 84px;
    padding-right: 11px;
    padding-top: 11px;
    padding-bottom: 11px;
  }

  @media (max-width: $mobile-breakpoint) {
    padding-left: 96px;
    padding-right: 11px;
    padding-top: 16px;
    margin: 0;
    width: 100%;
  }
}

.teacher-card__container-left {
  display: flex;
  flex-direction: column;
  margin-right: auto;

  @media (max-width: $mobile-breakpoint) {
    width: 75%;
  }
}

.teacher-card__teacher-info {
  margin-bottom: auto;

  @media (max-width: $mobile-breakpoint) {
    margin-bottom: 0;
  }
}

.teacher-card__teacher-position {
  font-size: 12px;
  line-height: 20px;
  color: $pink;
  margin: 0;

  @media (max-width: $tablet-breakpoint) {
    font-size: 10px;
    line-height: 15px;
  }
}

.teacher-card__teacher-name {
  font-size: 12px;
  line-height: 20px;
  color: $pink;
  margin: 0;

  @media (max-width: $tablet-breakpoint) {
    font-size: 10px;
    line-height: 15px;
  }
}

.teacher-card__course {
  font-size: 12px;
  line-height: 20px;
  color: $purple-dark;
  margin: 0;
  margin-top: 9px;

  @media (max-width: $tablet-breakpoint) {
    margin-top: 4px;
    font-size: 10px;
  }
}

.teacher-card__container-right {
  display: flex;
  flex-direction: column;

  @media (max-width: $mobile-breakpoint) {
    width: 25%;
  }
}

.teacher-card__photo {
  position: absolute;
  left: 0;
  top: 0;
  width: 40%;
  height: 144px;

  overflow: hidden;

  @media (max-width: $tablet-breakpoint) {
    width: 90px;
    top: -23px;
  }

  @media (max-width: $mobile-breakpoint) {
    top: 0;
    left: 0;
    width: 82px;
  }
}

.teacher-card__info-btn {
  font-family: $main-font;
  background: transparent;
  border: none;
  color: $purple-dark;
  font-size: 12px;
  line-height: 15px;
  border-bottom: 1px solid $purple-dark;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  max-width: 100px;
  cursor: pointer;

  @media (max-width: $tablet-breakpoint) {
    font-size: 10px;
    line-height: 20px;
    margin-top: -12px;
    border: none;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      background-color: $purple-dark;
      width: 48px;
      height: 1px;
      top: 17px;
    }
  }

  @media (max-width: $mobile-breakpoint) {
    display: none;
  }
}


.teacher-card__description {
  display: none;

  @media (max-width: $mobile-breakpoint) {
    display: block;
    width: 100%;
    margin-top: 18px;
  }
}

.teacher-card__description-name {
  font-size: 18px;
  line-height: 20px;
  color: $purple-dark;
  margin: 0;
  margin-bottom: 10px;

  @media (max-width: $tablet-breakpoint) {
    font-size: 16px;
    margin-bottom: 0;
  }

  @media (max-width: $mobile-breakpoint) {
    display: none;
  }
}

.teacher-card__description-experience {
  font-size: 14px;
  line-height: 20px;
  color: $pink;
  margin: 0;
  margin-bottom: 24px;

  @media (max-width: $tablet-breakpoint) {
    font-size: 12px;
    margin-bottom: 7px;
  }

  @media (max-width: $mobile-breakpoint) {
    font-size: 10px;
  }
}

.teacher-card__description-info p {
  margin: 0;
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 20px;
  color: $purple-dark;

  @media (max-width: $tablet-breakpoint) {
    margin-bottom: 15px;
    font-size: 10px;
    line-height: 15px;
  }
}

.teacher-card__description-info span {
  @media (max-width: $mobile-breakpoint) {
    display: none;
  }
}
