.teachers-list {
  width: 100%;
  margin-right: auto;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  height: 583px;

  @media (max-width: $tablet-breakpoint) {
    margin-top: 16px;
    margin-right: 17px;
    width: 280px;
    height: 364px;
  }

  @media (max-width: $mobile-breakpoint) {
    margin-right: 0;
    width: 250px;
    height: 100px;
    padding-top: 14px;
  }
}

.teachers-list__item {
  margin-top: 20px;
  margin-bottom: 13px;

  &--active {
    display: block;
  }

  @media (max-width: $tablet-breakpoint) {
    margin-top: 10px;
    margin-bottom: 22px;
  }
}
