.teacher {
  font-size: 12px;
  line-height: 15px;
  color: $pink;
  width: 85%;

  p {
    margin: 0;
  }

  @media (max-width: $tablet-breakpoint) {
    font-size: 10px;
    padding-right: 30px;
  }
}
