.teacher-card {
  background-color: $white;
  box-shadow: 0px 4px 25px rgba(142, 128, 169, 0.2);
  position: relative;
  width: 399px;
  box-sizing: border-box;
  padding-left: 141px;
  padding-top: 18px;
  padding-right: 25px;
  padding-bottom: 17px;
  margin-bottom: 90px;

  @media (max-width: 1023px) {
    width: 255px;
    padding-left: 83px;
    padding-top: 10px;
    padding-right: 12px;
    padding-bottom: 3px;
    margin-bottom: 58px;
  }

  @media (max-width: 767px) {
    width: 228px;
    padding-left: 96px;
    padding-top: 16px;
    padding-bottom: 14px;
  }
}

.teacher-card__teacher-position {
  font-size: 12px;
  line-height: 20px;
  color: $pink;
  margin: 0;

  @media (max-width: 1023px) {
    font-size: 10px;
    line-height: 15px;
  }
}

.teacher-card__teacher-name {
  font-size: 12px;
  line-height: 20px;
  color: $pink;
  margin: 0;

  @media (max-width: 1023px) {
    font-size: 10px;
    line-height: 15px;
  }
}

.teacher-card__course {
  font-size: 12px;
  line-height: 20px;
  color: $purple-dark;
  margin: 0;

  @media (max-width: 1023px) {
    font-size: 10px;
  }
}

.teacher-card__photo {
  position: absolute;
  left: -23px;
  top: -55px;

  @media (max-width: 1023px) {
    left: -15px;
    top: -35px;
    width: 90px;
  }

  @media (max-width: 767px) {
    top: 0;
    left: 0;
    width: 82px;
  }
}

.teacher-card__info-btn {
  font-family: "Geometria Medium";
  background: transparent;
  border: none;
  color: $purple-dark;
  font-size: 12px;
  line-height: 15px;
  border-bottom: 1px solid $purple-dark;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  cursor: pointer;

  @media (max-width: 1023px) {
    font-size: 10px;
    line-height: 20px;
    margin-top: -12px;
    border: none;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      background-color: $purple-dark;
      width: 48px;
      height: 1px;
      top: 22px;
    }
  }

  @media (max-width: 767px) {
    display: none;
  }
}

.teacher-card__container-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 9px;

  @media (max-width: 1023px) {
    margin-bottom: 4px;
  }
}

.teacher-card__container-bottom {
  display: flex;
  justify-content: space-between;
}
