.teacher-social {
  width: auto;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  list-style: none;
  max-width: 100px;
  margin: 0;
  padding: 0;
  margin-bottom: auto;

  @media (max-width: $tablet-breakpoint) {
    width: 25px;
    margin-right: 11px;
    margin-top: -3px;
  }
}

.teacher-social__link {
  margin-left: 5px;
  padding: 5px;

  color: inherit;
  text-decoration: none;
}

.teacher-social__icon--vk {
  @media (max-width: $tablet-breakpoint) {
    width: 9px;
  }

  @media (max-width: $mobile-breakpoint) {
    width: 17px;
  }
}

.teacher-social__icon--tw {
  margin-top: 6px;

  @media (max-width: $tablet-breakpoint) {
    width: 11px;
  }

  @media (max-width: $mobile-breakpoint) {
    width: 18px;
  }
}
