.teacher-social {
  width: auto;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  list-style: none;
  max-width: 100px;
  margin: 0;
  padding: 0;
  margin-bottom: auto;

  @media (max-width: $tablet-breakpoint) {
    justify-content: center;
  }
}

.teacher-social__link {
  color: inherit;
  text-decoration: none;
  display: block;
  padding-right: 0;
  padding-left: 10px;

  @media (max-width: $tablet-breakpoint) {
    padding-left: 3px;
    padding-right: 3px;
  }
}

.teacher-social__icon--vk {
  @media (max-width: $tablet-breakpoint) {
    width: 9px;
  }

  @media (max-width: $mobile-breakpoint) {
    width: 17px;
  }
}

.teacher-social__icon--tw {
  margin-top: 4px;

  @media (max-width: $tablet-breakpoint) {
    width: 11px;
  }

  @media (max-width: $mobile-breakpoint) {
    width: 18px;
  }
}
