.team {
  position: relative;
  background-image: url("../img/yoga_pattern_screen_1@1x.png");
  background-repeat: no-repeat;
  background-position: 688px 20px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/yoga_pattern_screen_1@2x.png");
  }

  @media (max-width: $mobile-breakpoint) {
    min-height: 500px;
  }
}

.team__heading {
  margin: 0;
  font-size: 30px;
  line-height: 1.3;
  color: $purple-dark;

  text-align: center;

  @media (max-width: $tablet-breakpoint) {
    font-size: 21px;
  }

  @media (max-width: $mobile-breakpoint) {
    font-size: 18px;
  }
}

.team__number {
  top: 0;
  right: 0;

  @media (max-width: $tablet-breakpoint) {
    top: 1590px;
    right: 29px;
  }
}

.team__wrapper {
  display: flex;
  width: 100%;
  max-width: 976px;
  margin: 0 auto;

  @media (max-width: $tablet-breakpoint) {
    padding: 0 67px;
  }
}

.team__description {
  width: 50%;
  padding-top: 100px;
  padding-bottom: 50px;
  padding-right: 50px;
  padding-left: 50px;

  @media (max-width: $tablet-breakpoint) {
    padding-top: 75px;
    padding-bottom: 0;
    padding-right: 0;
    padding-left: 0;
  }
}
