.team-container {
  display: flex;
  margin-left: 135px;
  align-items: flex-start;

  @media (max-width: $tablet-breakpoint) {
    margin-left: 93px;
  }

  @media (max-width: $mobile-breakpoint) {
    display: block;
    margin-left: 47px;
  }
}
