.team {
  min-height: 100vh;
  background-image: url("../img/yoga_pattern_screen_1@1x.png");
  background-repeat: no-repeat;
  background-position: 688px 20px;
  position: relative;

  @media (max-width: 767px) {
    min-height: 500px;
  }
}

.team__heading {
  font-size: 30px;
  line-height: 15px;
  color: $purple-dark;
  margin-top: -121px;
  margin-left: 467px;
  margin-bottom: 110px;

  @media (max-width: 1023px) {
    font-size: 21px;
    margin-top: -273px;
    margin-left: 310px;
    margin-bottom: 60px;
  }
  @media (max-width: 767px) {
    font-size: 18px;
    margin-top: 68px;
    margin-left: 95px;
    margin-bottom: 24px;
  }
}

.team__number {
  top: 315px;
  right: -60px;

  @media (max-width: 1023px) {
    top: 192px;
    right: 27px;
  }
}
