.team-container {
  display: flex;
  align-items: flex-start;
  width: 45%;

  @media (max-width: $tablet-breakpoint) {
    display: block;
    width: 46%;
  }

  @media (max-width: $mobile-breakpoint) {
    position: relative;
    width: 100%;
  }
}

.team-container__slider-button-wrapper {
  width: 156px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  margin-top: 31px;
  margin-left: auto;
  margin-right: 17px;

  @media (max-width: $tablet-breakpoint) {
    width: 106px;
    margin-top: 0;
    margin-right: 18px;
  }

  @media (max-width: $mobile-breakpoint) {
    width: 100%;
    margin-right: 0;

    .slider__button {
      width: 16px;
      height: 31px;
    }
  }
}

.team-container__slider-pagination {
  right: 80px;
  left: auto;
  bottom: 5px;

  text-align: right;

  @media (max-width: $tablet-breakpoint) {
    right: 60px;
    bottom: -2px;
  }

  @media (max-width: $mobile-breakpoint) {
    display: none;
  }
}

.team-container__slider {
  width: 100%;

  @media (max-width: $mobile-breakpoint) {
    padding-left: 16px;
    padding-right: 16px;
    position: static;
  }
}

.team-container__slider-button {
  position: static;
  display: block;
  margin-top: auto;

  &--prev {
    order: 0;
  }

  @media (max-width: $mobile-breakpoint) {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;

    &--prev {
      left: 0;
    }

    &--next {
      right: 0;
    }

    svg {
      top: 36%;
      left: 18%;
    }
  }
}


