.timetable {
  font-size: 12px;
  line-height: 20px;
}

.courses__column .timetable {
  margin-top: 13px;
}

.timetable__first {
  margin-bottom: 0;
}

.timetable__second {
  margin: 0;
  margin-bottom: 17px;
}
