.timetable {
  font-size: 12px;
  line-height: 20px;
}

.timetable__first {
  margin-bottom: 0;
}

.courses__column .timetable {
  margin-top: 14px;
}

.timetable__second {
  margin-top: 0;
  margin-bottom: 18px;
}
