body {
  font-family: "Geometria Medium", "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: $primary-color;
  overflow-x: hidden;
  background-image: url("/img/yoga_pattern_screen_4@1x.png");
  background-repeat: no-repeat;
  background-position: left 2130px;

  @media (max-width: 1023px) {
    background-position: -55px 1365px;
    background-size: 590px auto;
  }

  @media (max-width: 767px) {
    background-position: 0px 2215px;
    background-size: 270px auto;
  }
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
