@font-face {
  font-family: "Caveat";
  src: url("../fonts/caveat-v7-latin_cyrillic-regular.woff2") format("woff2"),
    url("../fonts/caveat-v7-latin_cyrillic-regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Geometria Medium";
  src: url("../fonts/Geometria_Medium.woff2") format("woff2"),
    url("../fonts/Geometria_Medium.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Geometria Bold";
  src: url("../fonts/Geometria_Bold.woff2") format("woff2"),
    url("../fonts/Geometria_Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}
