.number {
  font-family: "Geometria Bold", "Arial", sans-serif;
  text-align: right;
  color: $numbers;
  font-size: 30px;
  line-height: 15px;
  position: absolute;
  right: 105px;

  @media (max-width: 767px) {
    display: none;
  }

  &::after {
    content: "";
    position: absolute;
    left: 44px;
    top: 6px;
    width: 93px;
    height: 2px;
    background-color: $number-line;
  }
}
